<form id="comment-service-online-form">
    <div id="comment-service-radio" class="service-feedback" data-name="type_id">
        <span class="ui-checkbox ui-radio _active" _name="sservice_type" _checked="true" data-value="1"> 非常满意<br/>
            <i class="icon i-emoji-happy"></i> <i class="icon i-emoji-happy"></i>
        </span>
        <span class="ui-checkbox ui-radio" _name="sservice_type" _checked="false" data-value="2"> 满意<br/>
            <i class="icon i-emoji-happy"></i>
        </span>
        <span class="ui-checkbox ui-radio" _name="sservice_type" _checked="false" data-value="3"> 一般<br/>
            <i class="icon i-emoji-common"></i>
        </span>
        <span class="ui-checkbox ui-radio" _name="sservice_type" _checked="false" data-value="4"> 不满意<br/>
            <i class="icon i-emoji-bad"></i>
        </span>
        <span class="ui-checkbox ui-radio" _name="sservice_type" _checked="false" data-value="5"> 非常不满意<br/>
            <i class="icon i-emoji-cry"></i>
        </span>
    </div>
    <input id="comment-service-type" type="hidden" name="type">
    <textarea name="content" class="comment-service-input" placeholder="输入你的建议"></textarea>
    <a id="comment-service-submit" class="btn btn-big">提 交</a>
</form>