@import "../../modules/settings/_setting_pages";
.getbackpassoword-box {
  width: 580*$px;
  .register-box {
    width: 480*$px;
  }
  .ui-complete-icon {
    &:before {
      display: none;
    }
  }
  .order-complete-result-box {
    margin: 80*$px auto;
    width: auto;
  }

  .ui-pass-strong{
      position: absolute;
      left: 100%;
      top: 0;
      width: 400px;
  }
}
