@import "../../modules/settings/_setting_pages";

//用户基础信息
.user-info{
  margin:0 20*$px;

  &__hd{
    font-size:14*$px;
    line-height:1;
    padding:20*$px 0 10*$px;
  }
  &__bd{

  }
  &__item{
    line-height:40*$px;
    margin-bottom:20*$px;
    position:relative;
  }
  &__title{
    color:$color_gray_text;
    @extend %float;
  }
  &__content{
    margin-left:5em;
    max-width:524*$px;
  }
  &__operate{
    position:absolute;
    top:0;
    right:0;
  }
  &__tips{
    position:absolute;
    top:0;
    right:160*$px;
    color:$color_gray_text;
  }
}
.page-user-info{
  .order-info-address{
    &__item,&__btn{
      margin-left:0;
    }
  }
}
