@import "../../modules/settings/_setting_pages";
//用户积分 我的积分
.user-points{
  &-hd{
    //padding:50*$px 0 42*$px;
    padding:28*$px 0 28*$px;
    margin:0 20*$px;
    border-bottom:1px solid $color_gray_border;
    &__inner{
      width:424*$px;
      margin:auto;
    }
    &__info{
      line-height:1;
      padding-right:40*$px;
      //改版: 木有兑换商品按钮
      //border-right:1px solid $color_gray_border;
      margin-right:40*$px;
    }
  }
}

.cart-table.user-points-table{
  border:0 none;
  margin-bottom:20*$px;
  .cart-table{
    &__bd,&__hd{
      padding:0;
    }
    &__item{
      padding:20*$px 0;
    }

    &__col-01{
    }
    &__col-02{
      width:490/960*100%;
    }
    &__col-03{
      width:230/960*100%;
    }
    &__col-04{
      width:150/960*100%;
    }
    &__col-05{
      width:90/960*100%;
    }
    &__col-06{

    }
    &__col-07{

    }
  }
}

//积分兑换
.points-mart{}
.points-mart-list{
  margin:0 20*$px 20*$px;
  .new-goods-list-box{
    border-top:0 none;
  }
}
.points-mart-item__desc{
  color:$color_gray_text;
  line-height:20*$px;
}
