<div class="ui-modal">
    <div class="ui-modal__dialog">
        <div class="ui-modal__content u-clearfix">
            <div class="lightModal-box">
                <div class="{{#if success}}ui-complete-icon{{/if}} {{#if error}}ui-error-icon{{/if}}">
                    <div class="lightModal-text u-f18">{{text}}</div>
                </div>
            </div>
        </div>
    </div>
</div>