@import "../../../css/modules/settings/_setting_pages";

.amount-box {
    width: 80*$px;
    &__input {
        float: left;
        input {
            width: 33*$px;
            padding: 12*$px 5*$px;
            text-align: center;
            font-size: 16*$px;
            border: 1*$px solid $color_gray-border;
            margin-right: 3*$px;
            &:focus{
                border-color: $color_gold_hover;
                outline: 0 none;
            }
        }
    }
    &__btns {
        position: relative;
        width: 30*$px;
        float: left;
    }
    &__btn {
        font-family: "iconfont" !important;
        font-smoothing: antialiased;
        text-stroke-width: 0.2px;
        border: 1*$px solid $color_gray_border;
        width: 28*$px;
        text-align: center;
        height: 18*$px;
        line-height: 18*$px;
        display: inline-block;
        color: $color_gray_text;
        &:hover {
            border: 1*$px solid $color_gold_hover;
            color: $color_gold_hover;
        }
    }
    &__btns-up {
        margin-bottom: 2*$px;
    }
    &__btns-down {

    }
}
