.lightModal-box {
  min-width: 200px;
  background: #fff;
  box-shadow: 0 0 15px #bbb;
  padding: 20px;
}

.lightModal-text {
  display: inline-block;
  margin-left: 10px;
}

.liteModalContent {
    font-size:14*$px;
    min-height:100*$px;
    padding:20*$px 0;
}
