.category-menu__more,
.category-menu__item,
.category-menu__pop-item{
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E0000000', endColorstr='#E0000000');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E0000000', endColorstr='#E0000000');
/*  &:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    @include bgcolor-alpha;
    @extend %bgcolor-alpha;

    @include bgcolor-alpha(rgba(0,0,0,.3));
  }*/
}
.category-menu__item--active,
.category-menu__pop-item{
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E0323232', endColorstr='#E0323232');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E0323232', endColorstr='#E0323232');
  /*&:before{

    @include bgcolor-alpha;
    @extend %bgcolor-alpha;

    @include bgcolor-alpha(rgba(50,50,50,.9));
  }*/
}