/* 多个页面用到... */
/*购物车*/
.header-cart-progress{
  width:48.276%;
  &._with-5-step{
    width:760/1160*100%;
  }
}
.main-title{
  line-height:30*$px;
  padding:24*$px 0 18*$px;
  margin-left: 20*$px;
  margin-right: 20*$px;

  &._with-border-bottom{
    border-bottom:1px solid $color_gray_border;
  }
}