
//订单结算
.order-info__dropdown{
  width:360*$px;
  line-height:38*$px;
  .form-text{
    background:none;
  }
}
.order-info-address,
.order-info-date{
  margin:20*$px;
}
.order-info-date{
  &__tips{

  }
}
.cart-table.order-cart-table{
  border:0 none;
  .cart-table{
    &__item{

    }

    &__col-01{

    }
    &__col-02{
      width:380/1120*100%;
    }
    &__col-03{
      width:176/1120*100%;
    }
    &__col-04{
      width:212/1120*100%;
    }
    &__col-05{
      width:212/1120*100%;
    }
    &__col-06{
      width:134/1120*100%;
    }
    &__col-07{

    }
  }
}
.order-cart-table{
  &__count{
    &-title{
      margin-right:64*$px;
      color:$color_gray;
      text-align:right;
    }
    &-price{}
    &-line{
      line-height:26*$px;
      .iconfont{
        margin-right:50*$px;
      }
    }
  }
  &__other-info{
    width:760/1120*100%;
  }
  &__comment-box{
    width:916/1120*100%;
    margin-top:20*$px;
    line-height:20*$px;
    textarea{
      display:none;
      width:800/916*100%;
      padding:5*$px 10*$px;
      height:54*$px;
    }
  }
  &__options-hd{
    font-size:12*$px;
    color:$color_black;
  }
  &__options-bd{
    font-size:12*$px;
    color:$color_gray_text;
    .form-field{
      line-height:40*$px;
    }
  }
}
.order-info-address{
  &__box{

  }
  &__item,&__btn{
    margin:0 0 20*$px 20*$px;
  }
  &__checkbox{
    width:460*$px;
    position:relative;
    border:1px solid $color_gray_border;
    padding:12*$px;
    line-height:17*$px;
    color:$color_black;
    cursor:pointer;
    &._active{
      border-color:$color_gold;
      color:$color_gold;
    }
    &:hover{
      border-color:$color_gold_hover;
      color:$color_gold_hover;
    }
    &:hover,&._active{
      &:before{
        content:'';
        position:absolute;
        right:0;
        top:0;
        width:20*$px;
        height:20*$px;
        background:url("../images/slice/type_selected.png") no-repeat 0 0;
      }
    }
  }
  &__item-action{

    display:none; /*结算不显示*/

    float:left;
    line-height:60*$px;
    margin-left:40*$px;
    &-set-default{
      display:none;
    }
  }
  .user-info-address &__manage{
    display:none;
  }
  .user-info-address &__item-action{
    display:block;
    float:right;
    &-set-default{
      display:inline;
    }
  }
  .user-info-address &__checkbox{
    cursor:default;
    &:hover{
      border-color:$color_gray_border;
      color:$color_black;
    }
    &:hover{
      &:before{
        display:none;
      }
    }
    &._active,&._active:hover{
      border-color:$color_gold_hover;
      color:$color_gold_hover;
      &:before{
        display:block;
      }
    }
  }
}

//优惠券
.order-coupon{
    &__hd{}
    &__bd{}
    &__ft{
        margin: 12*$px 0;
    }
    .ui-tab{
        margin: 0;
        &__item{
            font-size: 12*$px;
        }
    }
    &__list{
        &-hd{
            padding: 12*$px 0;
            width: (70+180+180)*$px;
        }
    }
    &__table{
        width: (70+180+180)*$px;
        ._td-1{
            width: 70*$px;
        }
        ._td-2{
            width: 180*$px;
        }
        ._td-3{
            width: 180*$px;
        }
    }
    .ui-lg-checkbox{
        border-color: #fff;
        width: (70+180+180)*$px;
        /* margin-bottom: 10*$px; */
        padding: 7*$px 8*$px;
        margin-left: -8*$px;
        &._active{
          border-color:$color_gold;
        }
        &:hover{
          border-color:$color_gold_hover;
        }
        //without hover style
        &._without-hover{
            cursor: default;
            &:hover{
                border-color:$color_gray_border;
            }
            &._active,&._active:hover{
                border-color:$color_gold_hover;
            }
        }
        &._disable{
            border-color: #fff;
            &:hover{
              &:before{
                display:none;
              }
            }
        }
    }
}

.coupon-modal-box__content-inner{
    padding: 10*$px 0 20*$px 0;
}
