/* 底部菜单 */
.footer {
  @include prepend(0.5);
  @include append(0.5);
  padding-top: 50*$px;
  padding-bottom: 50*$px;
  &__wrap {
      margin: auto;
      max-width:1200px;
  }
  .footer-help {
    &__item {
      dt {
        color: $color_black;
        font-size: 16*$px;
        margin-bottom: 5*$px;
      }
      dd {
        margin-top:10*$px;
        a {
          color: $color_gray;
          font-size: 12*$px;
          &:hover {
            color: $color_gold_hover;
          }
        }
      }
    }
  }
  .footer-social {
    //@include prepend(1);

    .social-icon-list__item {
        text-align:left;
    }
    .foot-weibo-social-box {
        text-align:left;
    }
    &__wrap {
    }
    &__head {
      color: $color_black;
      font-size: 16*$px;
      margin-bottom: 5*$px;
    }
    &__text {
      color: $color_gold;
      font-size: 12*$px;
      h3 {
        color: $color_gray;
        font-size: 12*$px;
        margin-top: 5*$px;
      }
    }
    &__icon {
      background: $color_gray;
      border-radius: 100%;
      width: 48*$px;
      height: 48*$px;
      line-height: 48*$px;
      @include float;
      text-align: center;
      margin-right: 5*$px;
      .iconfont {
        font-size: 30*$px;
        color: #fff;
      }
    }
  }
}



.footer-copyright{
  .u-black-link,a{
    color:$color_gray;
    &:hover{
      color:$color_gold_hover;
    }
  }
}

.footer-promise {
    border-top:1px solid $color_gray_border;
    padding-top:20*$px;
    margin-top:20*$px;
    text-align:center;
}

.footer .footer-help_v1 {
  border-right: none;
  margin-right: 0;
}
.footer-help {
    &__item {
        width:20%;
        float:left;
    }
}
