/* 首页搜索 */
.header-search {
  width: 600*$px;
  height: 40*$px;
  margin-right: 40*$px;
  margin-top: 7px;
  background: #fff;
  border: 2*$px solid $color_gold;
  &:hover {
    border: 2*$px solid $color_gold_hover;
    .header-search__submit {
      background: $color_gold_hover;
    }
  }
  &__submit {
    width: 60*$px;
    height: 40*$px;
    line-height: 40*$px;
    font-size: 18*$px;
    display: block;
    text-align: center;
    color: #fff;
    background: $color_gold;
    border: none;
    &:hover {
      background: $color_gold_hover;
    }
  }
  &__text {
    height: 40*$px;
    line-height: 40*$px;
    width: 516*$px;
    padding: 0 12*$px;
    font-size: 12*$px;
    outline: 0 none;
    border: 0 none;
  }
}

.layout-fixed .header-search {
  width: 450*$px;
  &__text {
    width: 366*$px;
  }
}

/* 头部菜单 */
.header-menu {
  margin-top: 22*$px;
  margin-left: 200*$px;
  width: 350*$px;
  &__ul {
    li {
      float: left;
      margin: 0 15*$px;
      position: relative;
      width: 80*$px;
      a {
        font-size: 14*$px;
        color: $color_black;
        padding-bottom: 5*$px;
        &:hover {
          color: $color_gold_hover;
          border-bottom: 2*$px solid $color_gold_hover;
        }
      }
    }
  }
  &__menuitem {
    display: block;
    border-bottom: none !important;
  }
}

.layout-fixed .header-menu {
  margin-left: 180*$px;
}

.pop-menu-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 150*$px;
  dd {
    a {
      padding: 7px 20px;
      display: block;
      &:hover {
        color: $color_black;
        background: $color_eee;
        border-bottom: none !important;
      }
    }
  }
  &:before, &:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 65px;
  }
  &:before {
    top: 0px;
    border-bottom-color: $color_gray_border;
    z-index: -1;
  }
  &:after {
    top: 1px;
    border-bottom-color: #fff;
  }
  &__inner {
    background: #fff;
    border: 1px solid $color_gray_border;
    padding: 0;
    margin-top: 20*$px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.09);
  }
}

.top-categroy_bedroom {
  background: url("../images/top_menu_icon1.png") no-repeat 0 0;
  height: 20*$px;
  line-height: 20*$px;
  text-indent: 30*$px;
  font-size: 14*$px;
  color: $color_gray_text;
  margin-bottom: 0*$px;
  &:hover {
    color: $color_gold_hover;
  }
}

.top-categroy_livingroom {
  background: url("../images/top_menu_icon2.png") no-repeat 0 0;
  height: 20*$px;
  line-height: 20*$px;
  text-indent: 30*$px;
  font-size: 14*$px;
  color: $color_gray_text;
  margin-bottom: 0*$px;
  &:hover {
    color: $color_gold_hover;
  }
}

.top-categroy_diningroom {
  background: url("../images/top_menu_icon3.png") no-repeat 0 0;
  height: 20*$px;
  line-height: 20*$px;
  text-indent: 30*$px;
  font-size: 14*$px;
  color: $color_gray_text;
  margin-bottom: 0*$px;
  &:hover {
    color: $color_gold_hover;
  }
}

.header-menu-popbox {
  top: 15px;
  left: -50px;
  display: none;
}

.header-menu-item {
  margin-bottom: 20*$px;
  &__h3 {
    .categroy_bedroom, .categroy_livingroom, .categroy_diningroom {
      margin-bottom: 0;
      background-position: 50% 50%;
    }
  }
  &__categorys {
    margin-top: 12px;
    li {
      margin-left: 0;
      margin-right: 0;
      a:hover {
        border-bottom: none;
      }
    }
  }
}

.header-menu-item:after {
  margin-bottom: 0;
}

.header-menu-small {
  margin-top: 22*$px;
  margin-left: 180*$px;
  display: none;
}
.header-menu-smaill__inner {
  position: relative;
  display: inline-block;
}

#j-top-all-small-category {
  color: $color_black;
  font-size: 14*$px;
  padding-bottom: 3*$px;
  &:hover {
    color: $color_gold_hover;
    border-bottom: 2px solid $color_gold_hover;
  }
}

.header-menu-small-popbox {
  width: 450*$px;
  top: 15px;
  left: -50px;
  .pop-menu-box__inner {
    padding: 20*$px;
  }
}

.header-menu-small-item {
  margin-bottom: 20*$px;
  &__h3 {
    .categroy_bedroom, .categroy_livingroom, .categroy_diningroom {
      margin-bottom: 0;
      background-position: 50% 50%;
    }
  }
  &__categorys {
    margin-top: 12px;
    li {
      margin-left: 0;
      margin-right: 0;
      a {
        color: $color_black;
        font-size: 14*$px;
      }
      a:hover {
        color: $color_gold_hover;
        border-bottom: none;
      }
    }
  }
}


@media (max-width: 1360*$px){
   .header-search {
    width: 450*$px;
    &__text {
      width: 366*$px;
    }
  }
  .layout-fixed .header-search {
    width: 450*$px;
    &__text {
      width: 366*$px;
    }
  }
  .header-menu {
    margin-left: 180*$px;
  }
}

@media (max-width: 1280*$px) {
  .home-good__action {
    display: none;
  }
  .header-search {
    width: 400*$px;
    &__text {
      width: 280*$px;
    }
  }
  .layout-fixed .header-search {
    width: 370*$px;
    &__text {
      width: 280*$px;
    }

  }
}

@media (max-width: 1024*$px){

   .header-search {
    width: 360*$px;
    &__text {
      width: 276*$px;
    }
  }
  .header-menu {
    margin-left: 180*$px;
  }

  .layout-fixed .header-search {
    width: 360*$px;
    &__text {
      width: 276*$px;
    }
  }

}

/* 登录弹框 */
.j-login-submit._disable {
  opacity: 0.6;
  color: #fff;
  &:hover {
    background: $color_gold;
    color: #fff;
  }
}


._sale_img {
  margin-top: 20px;
  margin-left: 30px;
}

._tips_p {
  display: none;
}

._pop-verify-text {
  padding-left: 55*$px;
  padding-right: 55*$px;
}

.add_imitate_logo{
  float: left;
  width: 107px;
  height: 55px;
}
.header-menu-coming-soon-icon{
  position: absolute;
  left: 72%;
  top: 16px;
}