.header-menu-v2 {
    display:inline-block;
    &__menu {
        margin-left:45*$px;
        margin-top: 18px;
        li {
            float: left;
            margin:0 40*$px;
        }
        li:hover,li._active {
            a {
                color: $color_gold_hover;
            }
            .header-menu-v2__icon span {
                display:block;
            }
        }
        a {
            color: $color_black;
            font-size:14*$px;
            &:hover {
                color: $color_gold_hover
            }
        }
    }
    &__icon {
        height:18*$px;
        span {
            display:none;
            color: $color_gold_hover
        }
    }
    &__menulist {
        display:none;
        position:absolute;
        z-index:15;
        top:136*$px;
        left:0;
        width:100%;
        // max-width: $max_page_width;
        background: rgba(255, 255, 255, 0.95) !important;
        filter: Alpha(opacity=90);
        background: #fff; /*实现IE背景透明*/
        box-shadow: 0 10px 15px #ddd;
    }
    &__menulist-inner {
        padding:10px 150px;
    }
    &__menulist-item-wrap {
        display:none;
    }
    &__menulist-item {
        text-align:center;
        a {
            color:$color_black;
            &:hover {
                color: $color_gold_hover
            }
        }
    }
    &__menulist-item-wrap._active {
        display:block;
    }
}

// 首页样式
.page-index {
    .header-menu-v2__menulist {
        box-shadow: 0 5px 10px #ddd;
    }
}


@media (max-width: 1440*$px) {
    .header-menu-v2__menu {
        margin-left:45*$px;
    }
    .header-menu-v2__menu li {
        margin:0 40*$px;
    }
}

@media (max-width: 1280*$px) {
    .header-menu-v2__menu {
        margin-left:25*$px;
    }
    .header-menu-v2__menu li {
        margin:0 25*$px;
    }
}
@media (max-width: 1095*$px) {
    .header-menu-v2__menu {
        margin-left:50*$px;
    }
    .header-menu-v2__menu li {
        margin:0 10*$px;
    }
}


@media (max-width: 1024*$px) {
    .header-menu-v2__menu {
        margin-left:25*$px;
    }
    .header-menu-v2__menu li {
        margin:0 20*$px;
    }
}
