/**
 * @tofishes
 * 订单列表和帮助中心共有的左侧菜单导航
 */
.center-menu-v2 {
  dl {
    border-bottom: 1*$px solid $color_gray_border;
    padding: 15*$px 0;
  }
  dl:last-child {
    border-bottom: none;
  }
  dt {
    color: $color_gray;
    font-size: 18*$px;
    padding-bottom: 10px;
  }
  dd {
    padding: 5*$px 0 5*$px 10*$px;
    position: relative;
    a {
      font-size: 14*$px;
      color: $color_black;
    }
    &:hover {
      a {
        color: $color_gold_hover;
      }
    }
  }
  dd::after {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    border-top: 3px solid white;
    border-left: 3px solid $color_gray_text;
    border-bottom: 3px solid white;
    display: inline-block;
    &:hover {
      border-left-color: $color_gold_hover;
    }
  }
  dd._active a {
    color: $color_gold;
  }
  dd._active::after {
    border-left-color: $color_gold;
  }
}

.main-layout{
  &-sidebar{
    @extend %float;
    margin-left:20*$px;
  }
  &-sidebar{
    width:160*$px;

  }
  &-container{
    margin-left:180*$px;
    padding-left:20*$px;
    padding-bottom:1000*$px;
    margin-bottom:-1000*$px;
    border-left:1px solid $color_gray_border;
    overflow:hidden;

    .main-title{
      padding:12*$px 0;
    }
  }
}


//菜单
.center-menu{
  &__item{
    display:block;
    padding-top:8*$px;
    line-height:42*$px;
    color:$color_black;
    font-size:18*$px;
    border-bottom:1px solid $color_gray_border;
    &._active{
      color:$color_gold;
    }
    &:hover{
      color:$color_gold_hover;
    }
    &._active{
      position:relative;
      z-index:1;
      border-right:1px solid #fff;
      margin-right:-1px;
    }
  }
}