/**
* ui-lg-checkbox
* @author remiel.
**/
.ui-lg-checkbox {
    width: 460*$px;
    position: relative;
    border: 1px solid $color_gray_border;
    padding: 12*$px;
    line-height: 17*$px;
    color: $color_black;
    cursor: pointer;
    &._active {
        border-color: $color_gold;
        color: $color_gold;
    }
    &:hover {
        border-color: $color_gold_hover;
        color: $color_gold_hover;
    }
    &:hover,
    &._active {
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 20*$px;
            height: 20*$px;
            background: url("../images/slice/type_selected.png") no-repeat 0 0;
        }
    }
    //without hover style
    &._without-hover {
        cursor: default;
        &:hover {
            border-color: $color_gray_border;
            color: $color_black;
        }
        &:hover {
            &:before {
                display: none;
            }
        }
        &._active,
        &._active:hover {
            border-color: $color_gold_hover;
            color: $color_gold_hover;
            &:before {
                display: block;
            }
        }
    }
    &._disable {
        cursor: default;
        border-color: transparent;
        &:hover {
            &:before {
                display: none;
            }
        }
    }
}
