
.cart-table{
  margin:0 20*$px 60*$px;
  border:1px solid $color_gray_border;
  &__hd,&__bd,&__ft{
    padding:0 20*$px;
  }
  &__hd{
    border-bottom:1px solid $color_gray_border;
    line-height:52*$px;
  }
  &__col-01,
  &__col-02,
  &__col-03,
  &__col-04,
  &__col-05,
  &__col-06,
  &__col-07{
    min-height:1px;
  }


  &__hd &__col-01,
  &__hd &__col-02,
  &__hd &__col-03,
  &__hd &__col-04,
  &__hd &__col-05,
  &__hd &__col-06,
  &__hd &__col-07{
    height:52*$px;
  }
  &__inner{
    width:100%;
  }
  &__bd{

  }
  &__item{
    padding:20*$px 0;
    border-bottom:1px solid $color_gray_border;
    &-img-box{
      @extend %float;
      width:120/370*100%;
      img{
        width:100%;
        display:block;
      }
    }
    &-title,&-desc{
      line-height:18*$px;
      margin-left:120/370*100%;
    }
    &-title{
      margin-top:8*$px;
      font-size:14*$px;
      color:$color_black;
    }
    &-desc{
      font-size:12*$px;
      color:$color_gray;
    }

    &-price{
      color:$color_gold;
      font-size:14*$px;
      &-info{
        color:$color_gray;
        font-size:12*$px;
      }
    }
  }
  &__col-01{
    width:80/1120*100%;
  }
  &__col-02{
    width:370/1120*100%;
  }
  &__col-03{
    width:200/1120*100%;
  }
  &__col-04{
    width:140/1120*100%;
  }
  &__col-05{
    width:140/1120*100%;
  }
  &__col-06{
    width:140/1120*100%;
  }
  &__col-07{
    width:50/1120*100%;
    a{
      color:$color_black;
      &:hover{
        color:$color_gold_hover;
      }
    }
  }

  &__item &__col-01{
    padding-top:16*$px;
  }
  &__item &__col-03,
  &__item &__col-04,
  &__item &__col-05,
  &__item &__col-06,
  &__item &__col-07{
    padding-top:8*$px;
  }
  &__ft{
    line-height:96*$px;
  }

  //购物车没有商品
  &__empty{
    height:310*$px;
    &-info{
      position:relative;
      width:360*$px;
      height:42*$px;
      margin:134*$px auto 0;
      padding-left:60*$px;
      &:before{
        content:'';
        position:absolute;
        left:0;
        top:4*$px;
        width:40*$px;
        height:40*$px;
        background: url("../images/slice/icon_cart_error.png") no-repeat 0 0;
      }
    }
  }
}

.cart-table.order-list-table{
  border-width:1px 0;
  margin-bottom:20*$px;
  .cart-table{
    &__hd,&__bd,&__ft{
      padding:0;
    }
    &__hd{
      border-left:1px solid #fff;
      border-right:1px solid #fff;
      margin:0 -1px;
    }
    &__item{
      padding:40*$px 0 20*$px;
      position:relative;
      &-info{
        position:absolute;
        top:0;
        //left:54/1120*100%;
        left:0;
        padding:0 16*$px;
        min-width:104*$px;
        text-align:center;
        color:#fff;
        background:#dcdcdc;
        line-height:24*$px;
      }
    }
    
    &__col-01{
      width:48/960*100%;
    }
    &__col-02{
      width:370/960*100%;
    }
    &__col-03{
      width:70/960*100%;
    }
    &__col-04{
      width:100/960*100%;
    }
    &__col-05{
      width:170/960*100%;
    }
    &__col-06{
      width:148/960*100%;
    }
    &__col-07{
      width:54/960*100%;
    }

  }
}
.order-list-table{
  &__item{
    &-img-box{
      width:80*$px;
      //height:80*$px;
      margin-right:40*$px;
      @extend %float;

      img{
        width:100%;
        display:block;
      }
    }
    &-img-title{
      margin-top:10*$px;
      width:80*$px;
      line-height:14*$px;
      //max-height:28*$px;
      height:28*$px;
      overflow:hidden;
    }
  }
}