/**
* ui-tab
* @author remiel.
**/
//
.order-list-tab,
.ui-tab{
  margin:14*$px 20*$px 12*$px;
  &__item{
    display:block;
    font-size:18*$px;
    line-height: (34 / 18);
    color:$color_black;
    margin:4*$px 96/1920*100% 0 0;
    @extend %float;
    &:hover{
      color:$color_gold_hover;
      border-bottom:2px solid $color_gold_hover;
    }
    &._active{
      color:$color_gold;
      border-bottom:2px solid $color_gold;
    }
  }
}
