<div class="topbar-dropdown-content" id="topbar_helpcenter">
    <div class="topbar-dropdown-content__innner">
        <div class="topbar-dropdown-content__top-border"></div>
        <ul class="u-clearfix">
            <li>
                <a href="/article/1">帮助中心</a>
            </li>
            <li>
                <a href="#">售后服务</a>
            </li>
            <li>
                <a href="#">意见反馈</a>
            </li>
        </ul>
    </div>
</div>