<div class="login-modal-box ui-modal__box">
    {{#if title}}
    <div class="ui-modal__title">
        {{title}}
    </div>
    {{/if}}
    <div class="login-modal-box__content ui-modal__inner" id="loginbox-pop-wrap">
        <div class="liteModalContent">
            {{{contents}}}
        </div>
    </div>
</div>
