<div class="cart-table__inner">
    {{#each this}}
        <div class="cart-table__item u-clearfix" data-id="{{id}}">
            <div class="cart-table__item-info">订单号：{{id}}</div>
            <div class="cart-table__col-01 u-fl">
                <span class="ui-checkbox"></span>
            </div>
            <div class="cart-table__col-02 u-fl">
                <a href="#" class="order-list-table__item-img-box u-black-link">
                    <img src="public/images/index/1F_01.jpg" alt=""/>
                    <div class="order-list-table__item-img-title">MANDA L曼德尔床架</div>
                </a>
                <a href="#" class="order-list-table__item-img-box u-black-link">
                    <img src="public/images/index/1F_01.jpg" alt=""/>
                    <div class="order-list-table__item-img-title">MANDA L曼德尔床架</div>
                </a>
                <a href="#" class="order-list-table__item-img-box u-black-link">
                    <img src="public/images/index/1F_01.jpg" alt=""/>
                    <div class="order-list-table__item-img-title">MANDA L曼德尔床架</div>
                </a>
            </div>
            <div class="cart-table__col-03 u-fl">
                <div>remiel</div>
            </div>
            <div class="cart-table__col-04 u-fl">
                <div class="cart-table__item-price">¥ 3,000</div>
                <div class="cart-table__item-price-info u-del">¥ 3,500</div>
            </div>
            <div class="cart-table__col-05 u-fl">
                <div class="u-ml_20">2015-01-03</div>
                <div class="u-ml_20">20:22:33</div>
            </div>
            <div class="cart-table__col-06 u-fl">
                <div class="u-ml_20">等待付款</div>
                <a href="#" class="u-ml_20">跟踪</a>
            </div>
            <div class="cart-table__col-07 u-fl">
                <a href="#" class="u-black-link u-block">立即付款</a>
                <a href="#" class="u-black-link u-block">查看订单</a>
                <a href="#" class="u-black-link u-block">取消订单</a>
            </div>
        </div>
    {{/each}}
</div>