<div class="edit-order-modal-box ui-modal__box">
    <div class="ui-modal__title">
        修改订单信息
    </div>
    <div class="edit-order-modal-box__content ui-modal__inner">
        <!--order-info__form-->
        <div class="j-order-address-modified" id="j-order-address-modified">

        </div>
        <!--/order-info__form end-->
        <div class="j-order-info-date">
            <div class="order-info__form">
                <form action="#" class="form form-horizontal">
                    <div class="form-item">
                        <label class="form-label" for="">
                            送货时间：
                        </label>
                        <div class="form-field">
                            <div class="order-info__dropdown ui-icon__dropdown">
                                <input type="text" placeholder="请选择送货时间" id="j-date-deliver" class="form-text" name="">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="">
                            安装时间：
                        </label>
                        <div class="form-field">
                            <div class="order-info__dropdown ui-icon__dropdown">
                                <input type="text" placeholder="请选择安装时间" id="j-date-install" class="form-text" name="">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-field">
                            <a href="javascript:;" class="btn btn-big j-order-save">保存订单信息</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>