{{#each this}}
    {{#each goods_sku}}
    <li>
        <a href="/cart"><img src="{{cover}}" alt=""/></a>
        <h3><a href="/cart">{{../title}}</a></h3>
        <p class="u-color_glod">￥{{price}} X {{quantity}}</p>
    </li>
    {{/each}}
{{/each}}