<div class="nav-dropdown-content">
    <div class="nav-dropdown-content__innner">
        <ul class="u-clearfix">
            {{#each this}}
            <li class="span6">
                <a href="#{{category_id}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>