<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        验证手机号成功
    </div>
    <div class="common-modal-box__content ui-modal__inner _pop-verify-text">
        <div class="u-mb_30">
            <div class="u-mt_30">
                <p class="u-f14 tips">您的手机号码已验证成功，您现在已可以使用手机号进行登录。</p>
            </div>
            <div class="u-mt_30 u-text-left">
                <a href="#" class="btn btn-big" id="j-close-model" style="padding-left:35px; padding-right:35px;">确定</a>
            </div>
        </div>
    </div>
</div>