<div class="topbar-dropdown-content" id="topbar_ucenter">
    <div class="topbar-dropdown-content__innner">
        <div class="topbar-dropdown-content__top-border"></div>
        <ul class="u-clearfix">
            <li>
                <a href="/member/favorite">我的收藏</a>
            </li>
            <li>
                <a href="/member/profile">我的信息</a>
            </li>
        </ul>
    </div>
</div>