<div class="topbar-dropdown-content" id="topbar_followus">
    <div class="topbar-dropdown-content__innner">
        <div class="topbar-dropdown-content__top-border"></div>
        <div class="social-icon-list u-clearfix">
            <div class="social-icon-list__item span6">
                <dl>
                    <dt>
                        <img src="/static/images/icon-weixi.png" alt="" />
                    </dt>
                    <dd>扫码关注微信号</dd>
                </dl>
            </div>
            <div class="social-icon-list__item span6">
                <a target="_blank" href="http://weibo.com/gdsipin">
                    <dl>
                        <dt>
                            <img src="/static/images/icon-weibo.png" alt="" />
                        </dt>
                        <dd>+关注新浪微博</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
</div>
