@import "../../modules/_settings/_setting_pages";
.getbackpassoword-box {
  width: 580*$px;
  .register-box {
    width: 480*$px;
  }
  .ui-complete-icon {
    &:before {
      display: none;
    }
  }
  .order-complete-result-box {
    margin: 80*$px auto;
    width: auto;
  }
}
