<div class="u-mb_30">
    <div class="u-mt_30">
        <p class="u-f14 tips"></p>
    </div>
    <div class="u-mt_30 u-text-left">
        <form class="form form-inline" action="">
            <input type="text" class="form-text" name="phone" placeholder="输入你新的手机号码">
            <a id="j-getNewPhone" class="btn btn-big u-ml_20">接收验证码</a>
        </form>
    </div>
    <div class="tips_error u-color_red u-f12">
    </div>
</div>