<div class="ui-modal__box confirm-box">
    <div class="confirm-box__hd ui-modal__title">
        {{title}}
    </div>
    <div class="confirm-box__bd">
        {{content}}
    </div>
    <div class="confirm-box__ft u-text-right">
        <a href="javascript:;" class="btn btn-primary-big confirm-box__ok">确定</a>
        <a href="javascript:;" class="btn btn-primary-big confirm-box__cancel modal_close_btn">取消</a>
    </div>
</div>