<div class="cart-table__empty">
    <div class="cart-table__empty-info">
        <div class="u-f18">您的购物车内暂时没有商品！</div>
        <div class="u-f14">
            您可以 <a href="/">返回首页</a> 挑选喜欢的商品
        </div>
    </div>
</div>