@import "../../modules/settings/_setting_pages";
/*商品模板*/
/*模板 V2  20150330*/
.goods-tpl-v2{

    &__img{
        margin-bottom: 2px;
    }

    $tplWidth: 1380;

    margin:40/1400*100% 20/1400*100% 0 0;


    img{
        width: 100%;
        max-width: 100%;
        display: block;
    }

    &__box{
        margin-bottom: 40/$tplWidth*100%;
        padding-bottom: 30/$tplWidth*100%;
        &._with-border-bottom{
            border-bottom: 1px solid $color_gray_border;
        }
    }
    &__content{

    }
    &__title{
        width:160/$tplWidth*100%;
        margin: auto;
    }
    &__main{

        position: relative;
        padding-top: 640/$tplWidth*100%;

        &-pic{
            width: 920/$tplWidth*100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &-info{
            position: absolute;
            left: 960/$tplWidth*100%;
            top: 0;
            right: 0;
        }
        &-title{
            font-size: 32*$px;
            line-height: 1.6;
            margin-top: 70/420*100%;
        }
        &-desc{
            font-size: 20*$px;
            line-height: 1.6;
        }
    }
    &__sub-info{
        font-size: 14*$px;
        line-height: 1.6;
        margin-top: 30/420*100%;
        &-hd{}
        &-title{}
        &-desc{}
    }


    .goods-tpl-link-icon{
        &__box{
            @extend %float;
            width:260/1340*100%;
            margin-left:  80/1340*100%;
            position: relative;
            cursor:pointer;
            &:first-child{
                margin-left: 30/1340*100%;
            }
        }
        &__img-box{
            width:70*$px;
            height: 50*$px;
            position: absolute;
            left: 0;
            top: 10*$px;
        }
        ._01{
            background: url("../images/slice/goods-detail-icon-01.png") no-repeat;
        }
        ._02{
            background: url("../images/slice/goods-detail-icon-02.png") no-repeat 0 5px;
        }
        ._03{
            background: url("../images/slice/goods-detail-icon-03.png") no-repeat;
        }
        ._04{
            background: url("../images/slice/goods-detail-icon-04.png") no-repeat 0 5px;
        }
        &__title,
        &__content{
            margin-left: 80*$px;
            width: 150/260*100%;
            float: left;

        }
        &__title{
            color: $color_black;
            font-size: 18*$px;

            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -3*$px;
                height: 3*$px;
                width: 2em;
                background: $color_black;
            }
        }
        &__content{
            color: $color_gray;
            font-size: 12*$px;
            margin-top: 10*$px;
        }
    }

    /*模板V2 01*/
    &-01{
        &__extend-info{

            padding-right: 100/$tplWidth*100%;
            &-item{
                @extend %float;
                width: 33%;
                overflow: hidden;
            }
            &-title{
                margin-left: 100/(($tplWidth + (-100) )/3+(-100))*100%;
                color: $color_black;
                font-size: 20*$px;

                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3*$px;
                    width: 2em;
                    background: $color_black;
                }
            }
            &-content{
                margin-left: 100/(($tplWidth + (-100))/3+(-100))*100%;
                margin-top: 14/(($tplWidth + (-100))/3+(-100))*100%;
                color: $color_gray;
                font-size: 14*$px;
            }
        }
    }


    @include min-screen(1800px){

    }

    @include screen(1600px, 1800px) {
        &__main{
            &-title{
                font-size: 32*$px*16/18;
            }
            &-desc{
                font-size: 20*$px*16/18;
            }
        }
        &__sub-info{
            font-size: 14*$px*16/18;
        }
        &-01{
            &__extend-info{
                &-title{
                    font-size: 20*$px*16/18;
                }
                &-content{
                    font-size: 14*$px*16/18;
                }
            }
        }

    }
    @include screen(1400px, 1600px) {
        &__main{
            &-title{
                font-size: 32*$px*14/18;
            }
            &-desc{
                font-size: 20*$px*14/18;
            }
        }
        &__sub-info{
            font-size: 14*$px*14/18;
        }
        &-01{
            &__extend-info{
                &-title{
                    font-size: 20*$px*14/18;
                }
                &-content{
                    font-size: 14*$px*14/18;
                }
            }
        }

    }

    @include screen(1200px, 1400px) {
        &__main{
            &-title{
                font-size: 32*$px*12/18;
            }
            &-desc{
                font-size: 20*$px*12/18;
            }
        }
        &__sub-info{
            font-size: 14*$px*12/18;
        }
        &-01{
            &__extend-info{
                &-title{
                    font-size: 20*$px*12/18;
                }
                &-content{
                    font-size: 14*$px*12/18;
                }
            }
        }

    }

    @include max-screen(1200px){
        &__main{
            &-title{
                font-size: 32*$px*10/18;
            }
            &-desc{
                font-size: 20*$px*10/18;
            }
        }
        &__sub-info{
            font-size: 14*$px*10/18;
        }
        &-01{
            &__extend-info{
                &-title{
                    font-size: 20*$px*10/18;
                }
                &-content{
                    font-size: 14*$px*10/18;
                }
            }
        }

    }




}
