@import "../../modules/settings/_setting_pages";
/*搜索 结果*/
.search-no-result{
  color:$color_black;
  text-align:center;
  padding:50*$px 0 120*$px;
  white-space:nowrap;
  h3{
    font-size:18*$px;
    line-height:30*$px;
    span{
      color:$color_error;
    }
  }
  &__search{

    @include wrapper(2,false);
    margin:auto;
    text-align:left;
    &__item{
      @include column(3);
    }
    font-size:14*$px;
    line-height:24*$px;
  }
  &__desc1{
    float:left;
  }
  &__desc2{
    margin-left:4em;
    position: relative;
  }
  &__ipt-box{
    position:relative;
    margin-left:4em;
    padding:0 40*$px 0 10*$px;
    width:228*$px;
    height:40*$px;
    border:1px solid $color_gray_border;
    input{
      height:40*$px;
      border:0 none;
      outline:0 none;
      margin:0;
      padding:0;
      background:none;
    }
  }
  &__ipt{
    width:100%;
  }
  &__submit{
    position:absolute;
    right:0;
    top:0;
    width:40*$px;
    font-size:24*$px;
  }
}
.no_result{
  position: absolute;
  left: -50px;
  top: 6px;
}
