<div class="add-cart-modal-box ui-modal__box">
    <div class="ui-modal__title">
        已成功放入购物车
    </div>
    <div class="add-cart-modal-box__content ui-modal__inner">
        <div class="add-cart-modal-box__info-box u-mt_30">
            <div class="add-cart-modal-box__info ui-complete-icon iconfont">
                <div class="u-f18">商品{{goodName}}已经成功放入购物车，商品价格：<span class="u-color_glod">{{price}}</span></div>
            </div>
            <div class="u-mt_30 u-text-center">
                <a href="#" class="modal_close_btn btn btn-primary-big u-mr_20">继续购物</a><a href="/cart" class="btn btn-big">查看购物车</a>
            </div>
        </div>
        <div class="u-border-bottom u-text-left u-mt_30 u-clearfix">
            <h2 class="u-f14">已放入购物车的商品</h2>
        </div>
        <div class="cart-shop-slider">
            <div class="cart-shop-slider__inner">
                <a href="#" class="cart-shop-slider__prev iconfont btn-primary-big _disable">&#xf0115;</a>
                <div class="ui-good-photos__list-wrap">
                    <div class="ui-good-photos__list-inner">
                        <ul class="u-clearfix">

                        </ul>
                    </div>
                </div>
                <a href="#" class="cart-shop-slider__next iconfont btn-primary-big">&#xf0116;</a>
            </div>
        </div>
    </div>
</div>