{{#each this}}
<tr>
    <td>
        <div class="autocomplete-box__item">
            <span class="u-fr"></span>
            <div class="autocomplete-box__title text">{{title}}</div>
        </div>
    </td>
</tr>
{{/each}}