<div class="autocomplete-box">
    <table>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <a class="close" href="#">关闭</a>
            </td>
        </tr>
        </tfoot>
    </table>
</div>