.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #f3981c;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #e9c998;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.img-preview {
	margin: 5px 0 10px;
}
.img-preview img {
	margin-right: 10px;
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
}
