
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\f000a"; }

.icon-cart:before { content: "\e662"; }

.icon-search:before { content: "\e621"; }

.icon-yiguanzhu:before { content: "\f0052"; }

.icon-weiguanzhu:before { content: "\f0054"; }

.icon-xinlang:before { content: "\f0105"; }

.icon-weixin:before { content: "\f0106"; }

.icon-sanjiao2:before { content: "\f0121"; }

.icon-sanjiao1:before { content: "\f0122"; }

.icon-sanjiao4:before { content: "\f0123"; }

.icon-sanjiao3:before { content: "\f0124"; }

.icon-fanhui1:before { content: "\f0115"; }

.icon-fanhui2:before { content: "\f0116"; }

.icon-fanhui3:before { content: "\f0117"; }

.icon-fanhui4:before { content: "\f0118"; }

.icon-huidaodingbu:before { content: "\f012c"; }

.icon-shoucangxuanzhong:before { content: "\f0113"; }

.icon-shoucang:before { content: "\f0114"; }

.icon-share:before { content: "\e63f"; }

.icon-jia:before { content: "\e628"; }

.icon-jian:before { content: "\e629"; }

.icon-gou:before { content: "\e63b"; }

.icon-cha:before { content: "\e617"; }

.icon-helpvector:before { content: "\344f"; }

.icon-QQ:before { content: "\e604"; }

.icon-zhifubao:before { content: "\e606"; }

.icon-duiquan:before { content: "\e615"; }

.icon-tanhaotishi:before { content: "\e699"; }

.icon-shuaxin:before { content: "\e680"; }

