@import "../../modules/settings/_setting_pages";

.center-menu-v2 {
  dl {
    border-bottom: 1*$px solid $color_gray_border;
    padding: 15*$px 0;
  }
  dl:last-child {
    border-bottom: none;
  }
  dt {
    color: $color_gray;
    font-size: 18*$px;
    padding-bottom: 10px;
  }
  dd {
    padding: 5*$px 0 5*$px 10*$px;
    position: relative;
    a {
      font-size: 14*$px;
      color: $color_black;
    }
    &:hover {
      a {
        color: $color_gold_hover;
      }
    }
  }
  dd::after {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    border-top: 3px solid white;
    border-left: 3px solid $color_gray_text;
    border-bottom: 3px solid white;
    display: inline-block;
    &:hover {
      border-left-color: $color_gold_hover;
    }
  }
  dd._active a {
    color: $color_gold;
  }
  dd._active::after {
    border-left-color: $color_gold;
  }
}
