@import "../../modules/_settings/_setting_pages";
/*帮助中心*/
.help-article,
.view .help-article__content-inner //for editor
{
  padding:0 19*$px 20*$px 20*$px;
  line-height:1.8;

  .main-title{
    padding-bottom: 0;
    margin-left:0;
    margin-right:0;
  }

  img{
    max-width:100%;
  }

  table{
    width:100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;

    &._without-border{
      td, th {
        border:0 none;
      }
    }
  }
  td, th {
    font-weight:normal;
    padding: 20*$px;
    border: 1px solid $color_gray_border;
  }
  th{
    padding: 10*$px 20*$px;
  }
}

.view .help-article__content-inner {
  .tabs_content {
    display: block;
    margin: 20px 0;
  }
}

/*商品详情 售前售后*/
.good-detail-help{
  &__layout-01{
    display:inline-block;
    min-width:200*$px;
    width:30%;
    margin: 0 3% 4% 0;
    white-space: nowrap;
    > img{
      width:36%;
    }
    > .u-inline-block{
      width:60%;
      margin-left:2%;
      white-space: normal;
      vertical-align: middle;
    }
  }


  &__layout-02{
    display:inline-block;
    min-width:200*$px;
    width:30%;
    margin: 0 3% 70*$px 0;
    position:relative;
    white-space: nowrap;
    img{
      vertical-align:middle;
      width:54%;
      margin-right:4%;
      &:first-child{
        width:36%;
      }
    }
    .u-pa{
      top:100%;
      left:0;
      width:36%;
      text-align:center;
    }
  }
}