<div class="select-stock-place">
    <div class="select-stock-place__hd u-clearfix">
        <div class="select-stock-place__hd-txt _place_province u-fl">

        </div>
        <div class="select-stock-place__hd-txt _place_city u-fl">

        </div>
        <div class="select-stock-place__hd-txt _place_area u-fl">

        </div>

        <div class="select-stock-place__hd-txt _place_town u-fl">

        </div>
        <div class="place-arrow-top select-stock-place__arrow-top">
            <span class="place-arrow-top__wrap">
                <i class="place-arrow-top__inner"></i>
                <i class="place-arrow-top__outer"></i>
            </span>
        </div>
    </div>
    <div class="select-stock-place__bd">

    </div>
    <div class="select-stock-place__foot">
        <a class="close" href="javascript:void(0);">关闭</a>
    </div>
</div>