<ul class="u-clearfix">
    {{#each this}}
    <li>
        <a href="javascript:;" data-id="{{id}}" data-index="{{@index}}" data-sub="{{#if children}}1{{else}}0{{/if}}">{{name}}</a>
    </li>
    {{/each}}
</ul>