@import "../../modules/settings/_setting_pages";
.pay-list-box {
  border-bottom: 1*$px solid $color_gray_border;
  &__inner {
    padding: 20*$px;
  }
  &__item-inner {
    position: relative;
    border: 1*$px solid $color_gray_border;
    display: inline-block;
    cursor: pointer;
  }
  &__item._active {
    .pay-list-box__item-inner {
      border: 1*$px solid $color_gold;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1.25rem;
        height: 1.25rem;
        background: url("../images/slice/type_selected.png") no-repeat 0 0;
      }
    }

  }
}

.order-info-compete {
  margin: 20*$px;
  padding: 0 20*$px;
  &__title {
    font-size: 18*$px;
  }
  &__description {
    font-size: 14*$px;
  }
  &__address-item {
    margin-top: 15*$px;
    line-height: 24*$px;
    .order-piece {
      font-size: 16*$px;
      color: $color_gold;
    }
    label {
      color: $color_gray_text;
    }
  }
}

//我的订单
.order-list-log{
  position:absolute;
  right:60px;
  top:0;
  z-index:9;
  background:#fff;
  border:1px solid $color_gray_border;
  width:500*$px;
  box-shadow:0 5px 13px rgba(0,0,0,.09);
  display:none;

  &:before,&:after{
    content:'';
    border:10px solid transparent;
    position:absolute;
    right:98*$px;
  }
  &:before{
    top:-20px;
    border-bottom-color:$color_gray_border;
    z-index:-1;
  }
  &:after{
    top:-19px;
    border-bottom-color:#fff;
  }

  .order-tracking{
    margin:0 20*$px;
    &__hd, &__ft{
      padding:0;
    }
    &__bd{
      padding:14*$px 0 0;
    }
    &__col-01{
      width:150/450*100%;
    }
    &__col-02{
      width:200/450*100%;
    }
    &__col-03{
      width:100/450*100%;
    }
  }
}
