<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        修改登录密码
    </div>
    <div class="common-modal-box__content ui-modal__inner">
        <div class="u-mb_30">
            <div class="u-mt_30">
                <form class="form form-inline" action="">
                    <input type="password" class="form-text" name="oldpassword" placeholder="输入原来的密码">
                    <input type="password" style="margin-top: 10px;" class="form-text" name="newpassword" placeholder="输入新的密码">
                    <input type="password" style="margin-top: 10px;" class="form-text" name="repassword" placeholder="再次输入新的密码">
                </form>
            </div>
            <div class="tips_error u-color_red u-f12">

            </div>
            <div class="u-mt_30 u-text-left">
                <a href="#" id="j-set-password" class="btn btn-big u-mr_20">马上修改</a>
            </div>
        </div>
    </div>
</div>