@import "../../modules/_settings/_setting_pages";
.login-box {
  width: 100%;
  height: 100%;
  position: fixed;
  &__title {
    padding-top: 150*$px;
    margin-bottom: 35*$px;
  }
  &__inner {
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat 0 0;
    background-size: cover;
  }
  &__login-form {
    color: #fff;
    width: 360*$px;
    margin: 0 auto;
    .form-text {
      width: 338*$px;
      background: rgba(0, 0, 0, 0.2) !important;
      filter: Alpha(opacity=40);
      background: #000000; /*实现IE背景透明*/
      color: #ffffff;
    }
    .formbtn {
      background: $color_gold;
      color: #fff;
      border: none;
      width: 100%;
      padding: 10*$px 0;
      font-size: 14*$px;
      height: auto;
      cursor: pointer;
      &:hover {
        background: $color-gold_hover;
        border: none;
      }
    }
    .formbtn._disable {
      opacity: 0.7;
      cursor: default;
      color: #fff;
      &:hover {
        background: $color_gold;
        border: none;
        color: #fff;
      }
    }
  }
  &__auth2 {
    color: #fff;
    width: 250*$px;
  }
  &__auth-title {
    position: relative;
    padding-left: 72*$px;
    padding-bottom: 20*$px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8*$px;
      border-bottom: 1px solid #7d7d7d;
      width: 60*$px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 8*$px;
      border-bottom: 1px solid #7d7d7d;
      width: 60*$px;
    }
  }
  &__auth-item {
    color: #fff;
    display: block;
    width: 60*$px;
    text-align: center;
    border-right: 1px solid #fff;
    .iconfont {
      font-size: 30*$px;
      line-height: 30*$px;
    }
    .iconfont-text {
      font-size: 12*$px;
    }
  }
  &__auth-item-first {
    width: 35*$px;
    padding-right: 18px;
  }
  &__auth-item-last {
    width: 40*$px;
    border-right: none;
    padding-left: 13px;
  }
}

.page-login {
    .container {
        margin-left:0;
        margin-right:0;
    }
}

.remember-pass-checked {
  margin-top: -3px;
}
