<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        登录支付平台
    </div>
    <div class="common-modal-box__content ui-modal__inner">
        <div class="u-mb_30">
            <div class="u-mt_30">
                <p class="u-f14">请您在新打开的支付平台页面进行支付，支付完成前请不要关闭该窗口</p>
            </div>
            <div class="u-mt_30 u-text-center">
                <a href="javascript:;" id="j-finish-pay" class="btn btn-primary-big u-mr_20">已完成支付</a><a href="/article/3" class="btn btn-primary-big">支付遇到问题</a>
            </div>
        </div>
    </div>
</div>