<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        验证手机
    </div>
    <div class="common-modal-box__content ui-modal__inner _pop-verify-text">
        <div class="form-field u-mt_20 u-mb_50" id="reg-captcha">
            <input type="text" placeholder="输入验证码" class="form-text text-captcha" name="captcha" id="codetext">
            <span class="form-captcha"><a href="javascript:;" onclick="document.getElementById('captcha').src = '/api/captcha?' + Math.random();"><img src="/api/captcha" alt="" id="captcha" width="114"></a></span>
            <a href="javascript:;" onclick="document.getElementById('captcha').src = '/api/captcha?' + Math.random();" class="iconfont u-color_black u-f18 u-ml_10">&#xe680;</a>
            <p class="u-color_red is_captcha_error u-mt_10 _tips_p"></p>
        </div>
        <div class="u-mb_30 phone-verify-code-box" style="display: none">
            <div class="u-mt_30">
                <p class="u-f14 tips"></p>
            </div>
            <div class="u-mt_30 u-text-left">
                <form class="form form-inline" action="">
                    <input type="text" class="form-text text-verifyphonecode" style="width: 165px" name="" placeholder="输入验证码">
                    <a id="j-verify-phone" class="btn btn-big u-ml_20">验证手机号码</a>
                </form>
            </div>
            <div class="tips_error u-color_red u-f12">

            </div>
        </div>
    </div>
</div>
