@import "../../modules/settings/_setting_pages";
/**
 * @tofishes
 */

/*list-recommendation*/
.list-recommendation{
  &__item{
    position:relative;
    overflow:hidden;
  }
  &__hd{
    margin-top:16*$px;
    line-height:40*$px;
    font-size:24*$px;
    color:$color_gray3;
  }
  &__img-box{
    width:50%;
    padding-right:10*$px;
    @extend %box-sizing-border;
  }
  img{
    width:100%;
    display:block;
  }
  &__text{
    position:absolute;
    overflow:hidden;
    top:10*$px;
    right:0;
    bottom:10*$px;
    margin-left:10*$px;
    padding-left:16*$px;
    width:50%;
  }
  &__title{
    @extend %ellipsis-basic;
    line-height:28*$px;
    font-size:14*$px;
    color:$color_black;
    margin:16/220*100% 0 6/220*100%;
  }
  &__desc{
    height:36*$px;
    line-height:18*$px;
    margin-bottom:10/220*100%;
    overflow:hidden;
    font-size:12*$px;
  }
  &__price{
    font-size:18*$px;
    color:$color_gold;
    line-height:20*$px;
    margin:10/220*100% 0 14/220*100% ;
  }
  &__btn{
    font-size: 12*$px;
  }
  @include max-screen(1500px){
    &__desc{ display:none;}
  }
}


.new-goods-list-box {
  border-top: 1px solid $color_gray2;
  overflow: hidden;
  &__wrap {
    overflow: hidden;
    &._with-margin {
      margin-left: -15*$px;
      margin-right: -15*$px;
    }
  }
  &__inner {
    margin-left: -15*$px;
    margin-right: -15*$px;
  }
  .good-list-item {
    border-bottom: 1px solid $color_gray2;
    padding: 15*$px;
    float: left;
    @extend %box-sizing-border;
    border-right: 1*$px solid $color_gray2;
  }
}

._item_span6 {
  width: 50%;
}

._item_span3 {
  width: 25%;
}

// clone good-item (商品列表 hover 效果)
.new-goods-list-box__outer{
  position:relative;
  &._list-type-02{
    .good-list-item__title{
      margin-bottom:10*$px;
    }
    .good-list-item__description{
      max-height:36*$px;
      line-height:18*$px;
    }
  }
}
.new-goods-list-box.new-goods-list-box__clone{
  border:0 none;
  position:absolute;
  z-index:1;
  overflow:visible;
  left:-15*$px;
  right:-15*$px;
  top:0;
  height:0;
}
.good-list-item{
  position:relative;
  overflow:hidden;
}
.good-list-item.good-list-item__clone{
  position:relative;
  z-index:1;
  border:0 none;
  box-shadow:5px 5px 20px rgba(0,0,0,.11),-5px -5px 20px rgba(0,0,0,.11);
  background:#fff;

  .good-list-item__btn-box{
    display:block;
  }
}
.good-list-item__btn-box{
  display:none;
  margin:10*$px 0 5*$px;
  .btn {
    margin-right:10*$px;
  }
}

/*list options*/
.list-options{
  border:1px solid $color_gray_border;
  margin-bottom:20*$px;

  &__type{
    line-height:40*$px;
    border-top:1px solid $color_gray_border;
    overflow:hidden;
    &:first-child{
      border-top:0 none;
    }
  }
  &__title{
    @extend %float;
    width:80*$px;
    color:$color_gray_text;
    height:40*$px;
    border-right:1px solid $color_gray_border;
    text-align:center;
    margin-bottom:-100px;
    padding-bottom:100px;
  }
  &__cont{
    //@extend %float;
    padding-left:96*$px;
  }
  &__item{
    @extend %float;
    width:110/1780*100%;
    min-width:5em;
    color:$color_black;
    @extend %ellipsis-basic;
  }
}
/*list filter*/
.list-filter{
  margin-bottom:10*$px;
  &__item{
    @extend %float;
    position:relative;
    padding:0 34*$px 0 20*$px;
    margin-right:10*$px;
    line-height:38*$px;
    border:1px solid $color_gray_border;
    color:$color_gray;

    i{
      position:absolute;
      top:13*$px;
      right:14*$px;
      font-size:12*$px;
      line-height:1;
    }

    &._active{
      color:$color_gold;
    }
    &:hover{
      color:$color_gold_hover;
    }
  }
  ._with-2-type{
    i{
      top:6*$px;
      //color:$color_gray;

      &:before{
        content:'\f0121';
        display:block;
      }
    }
    &._active{}
  }
  ._current-up{
    &._active{
      i{
        color:$color_gray;
        &:before{
          color:$color_gold;
        }
      }
    }
    &:hover{
      i{
        color:$color_gray;
        &:before{
          color:$color_gold_hover;
        }
      }
    }

  }
  ._current-down{
    &._active{
      i{
        &:before{
          color:$color_gray;
        }
      }
    }
    &:hover{
      i{
        &:before{
          color:$color_gray;
        }
      }
    }
  }
}


//商品列表  促销 新品 等标志
.good-label{
  &__new-arrival,&__promotion{
    position:relative;

    &:after,&:before{
      content:'';
      position:absolute;
      right:0;
      top:0;
      z-index:9;
      font-size:14*$px;
      color:#fff;
    }
    &:after{
      top:12*$px;
      right:6*$px;
      font-size:$color_fff;
      line-height:1;
    }
    &:before{
      height:0;
      width:0;
      font-size:0;
      border:45*$px solid transparent;
      right:-45*$px;
      top:-45*$px;

      /*not ie*/
      -moz-transform:    rotate(45deg);
      -o-transform:      rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform:         rotate(45deg);
      /* IE8+ - must be on one line, unfortunately */
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";

    }
  }
  &__new-arrival{
    &:before{
      border-color:$color_success;
    }
    &:after{
      content:'新品';
    }
  }
  &__promotion{
    &:before{
      border-color:$color_error;
    }
    &:after{
      content:'促销';
    }
  }
}

.new-goods-list-box__clone {
  z-index: 10 !important; // 比.good-label__new-arrival大1
  .good-label__new-arrival:before,
  .good-label__new-arrival:after,
  .good-label__promotion:before,
  .good-label__promotion:after {
    content: none;
  }

  .good-list-item {
    padding: 11*$px 12*$px 12*$px 11*$px;
    border: 4px solid #dcdcdc;
  }
}
.good-list-item__btn-box {
  position: absolute;
  margin: 0;
  top: 12*$px;
  right: 5*$px;

  .btn {
    margin-right: 8*$px;
  }

  .btn-shopping-cart, .btn-favorite {
    padding: 0;
    border: 0 none;
    width: 40*$px;
    height: 40*$px;
    line-height: 38*$px;
    vertical-align: middle;
    color: #fff;

    &:hover {
      background: $color_gold_hover;
    }

    .iconfont {
      font-size: 18px;
    }
  }
  .btn-shopping-cart {
    background: $color_gold;
  }
  .btn-favorite {
    background: $color_gray_text;
    line-height: 40*$px;
  }
}

.list-filter__placeselect {
  display: inline-block;
  padding-right: 15*$px;

  .stock-btn {
    cursor: pointer;
  }

  &:hover, a, a:hover {
    color: $color_gray;
  }

  .desc {
    color: $color_gray_text
  }
}

/* 新品到货样式 */
.new-goods-box {
  margin-bottom: 20*$px;
  &__item-span {
    position: relative;
    margin-top: 20*$px;
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__text {
    position: absolute;
    width: 180*$px;
    .home-good {
      &__description {
        max-height: 14*2*$px;
      }
      &__view-category {
        margin-top: 10*$px;
        a {
          font-size: 14*$px;
          color: $color_black;
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
  &__text._text_white {
    .home-good {
      &__title {
        a {
          color: #fff;
          text-shadow: $color_black 0 1*$px 0;
          font-size: 16*$px;
        }
      }
      &__description {
        color: #fff;
        text-shadow: $color_black 0 1*$px 0;
      }
      &__price {
        text-shadow: $color_black 0 1*$px 0;
      }
      &__action {
        display: block;
        .btn {
          background: none;
          border: 1px solid #fff;
          text-shadow: $color_black 0 1*$px 0;
          color: #fff;
          &:hover {
            background: #fff;
            color: #000;
            text-shadow: none;
          }
        }
      }
      &__view-category {
        margin-top: 10*$px;
        a {
          font-size: 14*$px;
          color: #fff;
          text-shadow: $color_black 0 1*$px 0;
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
}

._new-goods-list-pages {
  text-align: right;
  margin-bottom: 15*$px;
  margin-top: 15*$px;
}


/* 全部商品分类 */
.good-category-list {
  margin-left: 10*$px;
  margin-right: 10*$px;
  overflow: hidden;
  margin-bottom: 15*$px;
  &__inner {
    margin-right: -1*$px;
    margin-top: 15*$px;
    margin-bottom: -1*$px;
  }
  &__item {
    float: left;
    @extend %box-sizing-border;
    border-bottom: 1px solid $color-gray_border;
    border-right: 1px solid $color-gray_border;
  }
  &__item-inner {
    padding: 10*$px 15*$px;
  }
  &__sub-item {
    line-height: 32*$px;
    a {
      font-size: 14*$px;
      color: $color_black;
    }
  }
}

.categroy_bedroom {
  background: url("../images/slice/category_icon1.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_livingroom {
  background: url("../images/slice/category_icon2.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_diningroom {
  background: url("../images/slice/category_icon3.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_kitchen {
  background: url("../images/slice/category_icon4.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_bathroom {
  background: url("../images/slice/category_icon5.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_bookroom {
  background: url("../images/slice/category_icon6.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_childrenbedroom {
  background: url("../images/slice/category_icon7.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}

.categroy_furnishing {
  background: url("../images/slice/category_icon8.png") no-repeat 0 0;
  height: 36*$px;
  line-height: 36*$px;
  text-indent: 42*$px;
  font-size: 18*$px;
  color: $color_gold;
  margin-bottom: 14*$px;
}
