@import "../../modules/settings/_setting_pages";
/**
 * @author tofishes
 */

/*
 * @description 售后服务
 */
.cs-detail-header {
  margin: 15*$px 20*$px 30*$px;
  font-size: 14*$px;
  color: $color_gray_text;
  span {
    display: inline-block;
    margin-right: 50*$px;
  }
  em {
    font-style: normal;
    color: $color_black;
  }
  .ui-progress {
    margin:30*$px 0;
  }
}
.cs-record-detail {
  .order-info__bd {
    padding-top: 10*$px;
    padding-left: 0;
  }
  .order-info__title {
    width: 100*$px;
    text-align: right;
  }
}

table.simple-grid{
  width:100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  display: table;

  &._without-border{
    td, th {
      border:0 none;
    }
  }

  td, th {
    font-weight:normal;
    padding:5*$px 15*$px;
    border: 1px solid $color_gray_border;
  }
  th{
    padding: 15*$px;
    text-align: left;
  }
}

.word-count-tip {
  padding: 5*$px 0 0 410*$px
}
.word-counter {
  color: $color_orange;
}

.f-r {
  float: right;
}

.t-pic {
  float: left;
  margin-right: 5*$px;
}
.t-txt {
  overflow: hidden;
}
.cover-s {
  width: 80*$px;
  height: 80*$px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 水平居中 */
.center-wrap {
  position: relative;
  .center-inner {
    position: absolute;
    left: 50%;
    /* margin-left: -$width/2;  具体容器需要根据实际设置负的一半宽度 */
  }
}

.list-item {
  @include clearfix;
  @extend %clearfix;

  li {
    float: left;
    margin-right: 50*$px;
  }
}
.goods-list {
  margin-top: 30*$px;
}
.goods-list li {
  width: 170*$px;
}

.form-label-vertical {
  position: relative;
  .form-label {
    position: absolute;
    top: 50%;
    margin-top: -15*$px;
  }
}
.form .form-text-small {
  width: 150*$px;
}

.cs-order-wrap {
  .main-title {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
  ol li {
    list-style: inside decimal;
  }
  .service-intro {
    margin: 15*$px 0;
    line-height: 1.8;
  }

  .ui-radio {
    display: inline-block;
    margin-top: 11*$px;
    min-width: 110*$px;
  }
}

.apply-success {
  margin: 140*$px 0 200*$px 240*$px;
  padding-left: 50*$px;
  background: url("../images/icon/ok.png") no-repeat 0 10*$px;
  p {
    margin-top: -5*$px;
    padding:0 0 15*$px;
  }
}
.cs-feedback-form {
  .form-field__captcha {
    width: 360*$px;
  }
  .captcha-wrap {
    float: right;
  }
}
em.number {
  font-style: normal;
  color: $color_orange;
}


// @rimiel
// 客户服务
.cart-table.service-record-table{
  border:0 none;
  margin-bottom:20*$px;
  .cart-table{
    &__bd,&__hd{
      padding:0;
    }
    &__item{
      padding:20*$px 0;
    }

    &__col-01{
      width:190/960*100%;
      padding-top:0;
    }
    &__col-02{
      width:144/960*100%;
      padding-top:0;
    }
    &__col-03{
      width:254/960*100%;
    }
    &__col-04{
      width:180/960*100%;
    }
    &__col-05{
      width:108/960*100%;
    }
    &__col-06{
      width:84/960*100%;
    }
    &__col-07{

    }
  }
}

//申请返修/退换货列表
.cart-table.service-order-list-table{
  border:0 none;
  margin-bottom:20*$px;
  .cart-table{
    &__bd,&__hd{
      padding:0;
    }
    &__item{
      padding:20*$px 0;
    }

    &__col-01{
      width:190/960*100%;
      padding-top:0;
    }
    &__col-02{
      width:600/960*100%;
      padding-top:0;
    }
    &__col-03{
      width:170/960*100%;
    }
    &__col-04{
    }
    &__col-05{
    }
    &__col-06{
    }
    &__col-07{

    }
  }
}
.page-cs-record-list,
.page-cs-order-list{
  .order-list-tab__item{
    margin-right:30*$px;
  }
}