<div class="form-item">
    <label class="form-label">您的用户名：</label>
    <label class="form-label-rc u-ml_10"><span>{{name}}</span></label>
</div>
<div class="form-item">
    <label class="form-label">您的邮箱：</label>
    <label class="form-label-rc u-ml_10"><span id="verify-email">{{email}}</span></label>
</div>
<div class="form-action action-left u-mt_30">
    <a class="formbtn btn-primary j-forgetpass-next" href="javascript:void(0);">发送验证邮件</a>
</div>