<div class="order-complete-result-box email-complete-step2">
    <div class="order-complete-result-box__info ui-complete-icon iconfont">
        <div class="u-f18">验证邮件已发送成功！</div>
        <div class="u-f14">
            <p>请立即完成验证，邮箱验证不通过则修改密码失败</p>
            <p>验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证</p>
        </div>
    </div>
    <div class="u-mt_20 u-ml_60">
        <a href="#" id="j-email-complete" class="btn btn-primary-big btn-color-peach u-mr_20">查看验证邮件</a>
    </div>
</div>