<div class="form-item">
    <label class="form-label">您的用户名：</label>
    <label class="form-label-rc u-ml_10"><span>{{name}}</span></label>
</div>
<div class="form-item">
    <label class="form-label">您的手机号：</label>
    <label class="form-label-rc u-ml_10"><span id="verify-mobile">{{mobile}}</span></label>
</div>

<div class="form-item u-mt_30" id="reg-captcha">
    <label class="form-label">验证码：</label>
    <div class="form-field form-code-text-wrap">
        <input type="text" placeholder="输入验证码" class="form-text text-captcha" name="captcha" id="codetext">
        <span class="form-captcha"><a href="javascript:;" onclick="document.getElementById('captcha').src = '/api/captcha?' + Math.random();"><img src="/api/captcha" alt="" id="captcha" width="114"></a></span>
        <a href="javascript:;" onclick="document.getElementById('captcha').src = '/api/captcha?' + Math.random();" class="iconfont u-color_black u-f18 u-ml_10">&#xe680;</a>
        <p class="u-color_red is_captcha_error u-mt_10 _tips_p"></p>
    </div>
</div>
<div class="form-item u-mt_30" id="phone-code-box" style="display: none;">
    <label class="form-label">短信校验码：</label>
    <div class="form-field form-code-text-wrap">
        <input type="text" placeholder="输入短信验证码" class="form-text text-verifyphonecode forgot_code_input" name="">
        <span class="form-verifycode"><a href="#" class="u-ml_10 btn btn-big">获取短信验证码</a></span>
        <span class="form-regetcode" style="display: none;"><div class="btn btn-big"><span class="u-color_darkred">120</span> <span class="u-color_black">秒后重新获取</span> </div></span>
        <div class="tips_error is_code_error u-color_red u-f12 _tips_p u-mt_10">
        </div>
    </div>

</div>
<div class="form-action action-left u-mt_30">
    <input id="j-phone-next" type="submit" class="formbtn btn-primary _disable" disabled="disabled" value="下一步">
</div>
