<div class="login-modal-box ui-modal__box">
    <div class="ui-modal__title">
        激活优惠券
    </div>
    <div class="login-modal-box__content ui-modal__inner">
        <div class="coupon-modal-box__content-inner">
            <input type="text" name="name" value="" class="form-text" id="j-coupon-modal-input">
            <a href="javascript:;" class="btn btn-big" id="j-coupon-modal-btn">激活优惠券</a>
        </div>
    </div>
</div>
