<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        支付确认
    </div>
    <div class="common-modal-box__content ui-modal__inner">
        <div class="u-mb_30">
            <div class="u-mt_20">
                <p class="u-f14">系统正在确认支付是否完成，请稍后，<span class="u-color_darkred">60</span>秒后自动为您刷新网页，请留意。如有支付问题，可<a href="#">联系客服</a> </p>
            </div>
        </div>
    </div>
</div>