<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        验证登录邮箱
    </div>
    <div class="common-modal-box__content ui-modal__inner">
        <div class="u-mb_30">
            <div class="u-mt_30">
                <p class="u-f14 tips">验证邮件已发送至 <span class="email_url"></span>，请在24小时内登录邮箱验证！</p>
            </div>
            <div class="u-mt_30 u-text-left">
                <a href="#" id="j-verify-email" class="btn btn-big">立即去验证</a>
            </div>
        </div>
    </div>
</div>