<div class="common-modal-box ui-modal__box">
    <div class="ui-modal__title">
        设置登录邮箱
    </div>
    <div class="common-modal-box__content ui-modal__inner">
        <div class="u-mb_30">
            <div class="u-mt_30">
                <p class="u-f14 tips"></p>
            </div>
            <div class="u-mt_30 u-text-left">
                <form class="form form-inline" action="">
                    <input type="text" class="form-text" name="newmail" placeholder="输入你的邮箱">
                    <input type="submit" id="j-setmail-now" class="btn btn-big u-ml_20" value="验证邮箱">
                </form>
            </div>
            <div class="tips_error u-color_red u-f12">

            </div>
        </div>
    </div>
</div>